<div class="twitter_welcome">
    <h2>{{welcomeMessage.message}} </h2> <h4 style="float: right">{{welcomeMessage.sender}}</h4>
</div>
<div class="twitter_button">
    CLick to add welcome message
    <a href="https://twitter.com/intent/tweet?button_hashtag={{settings.welcomeTag}}" class="twitter-hashtag-button btn btn-default" data-dnt="true">Tweet {{settings.welcomeTag}}</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>

<div class="twitter_statuses" id="welcome_message"/>

<div class="twitter_button">
    Click to add news
    <a href="https://twitter.com/intent/tweet?button_hashtag={{settings.feedTag}}" class="twitter-hashtag-button btn btn-default" data-dnt="true">Tweet {{settings.feedTag}}</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>

<div class="twitter_statuses" id="statuses"/>